/*#393B62 blue
#863F67 blue-pink
#D8536E pink
#FCA76E pink-yellow
#FFDE77 yellow
#FDDEA7 yellow-white
#E6CFB0 white*/
html {
  background-color: #FCA76E;
}

.container {
  height: auto;
  width: 600px;
  background-color: grey;
  margin: auto;
  margin-top: 40px;
  border-radius: 10px;
  text-align: center;
  background-color: #E6CFB0;
  border-style: solid;
}
.container h1 {
  font-family: "Quicksand", sans-serif;
  color: #863F67;
}

.item {
  height: 50px;
  background-color: #393B62;
  color: #FDDEA7;
  text-align: left;
  border-style: solid;
  border-radius: 10px;
}
.item p {
  display: inline-block;
  margin: 16px;
  font-family: "Varela Round", sans-serif;
}

.item:hover {
  cursor: pointer;
  background-color: #863F67;
}

form {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Varela Round", sans-serif;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px #D8536E;
  border: 1px solid #D8536E;
}

input[type=text] {
  outline: none;
  border: 1px solid #D8536E;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  margin-left: 10px;
}